.card {
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  margin: 0.5rem;
  padding: 1rem !important;

  p.subtitle{
    margin-top: -1rem !important;
  }
}

.fair-params {
  .card {
    p.subtitle {
      max-width: 180px;
    }
  }
}
